/*pagina de estilos do rodrigo*/
*{
    margin: 0;
    padding: 0;
    text-align: center;
}
body{
    background-color: bisque;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
}
header {
    background-color: beige;
    height: 20vh;
}

main {
    height: 60vh;
}
nav{
  
}
footer {
    background-color: beige;
    height: 20vh;
}
